h1 {
  text-align: center;
  color: brown;
  padding-top: 10px;
}

p {
  text-align: center;
  padding-top: 10px;
  color: chocolate;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}
